section {
    width: 95vw;
    height: 95vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

section > div {
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.50);
}

section > div:nth-child(1) {
    background: url("../img/1.jpg");
    background-size: cover;
    background-position: center;
    grid-row: 1/2;
    grid-column: 1/3;
}

section > div:nth-child(2) {
    background: url("../img/2.jpg");
    background-size: cover;
    background-position: center;
}

section > div:nth-child(3) {
    background: url("../img/3.jpg");
    background-size: cover;
    background-position: center;
    grid-row: 1/4;
    grid-column: 4/5;
}

section > div:nth-child(4) {
    background: url("../img/4.jpg");
    background-size: cover;
    background-position: center;
}

section > div:nth-child(5) {
    background: url("../img/5.jpg");
    background-size: cover;
    background-position: center;
}

section > div:nth-child(6) {
    background: url("../img/6.jpg");
    background-size: cover;
    background-position: center;
}

section > div:nth-child(7) {
    background: url("../img/7.jpg");
    background-size: cover;
    background-position: center;
}

section > div:nth-child(8) {
    background: url("../img/8.jpg");
    background-size: cover;
    background-position: center;
    grid-row: 3/4;
    grid-column: 2/4;
}