/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
}

section {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 50px;
    display: block;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10%;
}

.container-assignments {
    margin-top: 30px;
}

h2, h3 {
    font-family: Poppins, sans-serif;
    display: block;
    font-weight: bold;
}

h2{
    font-size: 1.8em;
    text-transform: uppercase;
}

h3{
    font-size: 1.5em;
    color: #868E96;
    margin-left: 5px;
    margin-bottom: 20px;
}

/* ASSIGNMENTS */
.basics, .transitions, .animations, .frameworks {
    display: grid;
    margin-bottom: 30px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
}

.container-assignments > .basics, .container-assignments > .animations {
    grid-template-rows: repeat(2, 1fr);
}

.assignments .case {
    background-position: center;
    background-size: cover;
    border-radius: 14px;
    margin: 5px;
    padding: 63px 0;
    width: 250px;
    height: 170px;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    color: transparent;
    display: inline-block;
    text-align: center;
    transition: 0.3s ease-out;
}

.case > h4 {
    font-size: 19px;
    margin-bottom: 5px;
}

.assignments .case:hover {
    color: white;
    background-image: linear-gradient(45deg, #1463F3, black);
}

/* BASICS */
.basics > a:nth-child(1){
    background-image: url("");
}

.basics > a:nth-child(2){
    background-image: url("");
}

.basics > a:nth-child(3){
    background-image: url("");
}

.basics > a:nth-child(4){
    background-image: url("");
}

.basics > a:nth-child(5){
    background-image: url("");
}

.basics > a:nth-child(6){
    background-image: url("");
}

/* TRANSITIONS */
.transitions > a:nth-child(1){
    background-image: url("");
}

.transitions > a:nth-child(2){
    background-image: url("");
}

/* ANIMATIONS */
.animations > a:nth-child(1){
    background-image: url("");
}

.animations > a:nth-child(2){
    background-image: url("");
}

.animations > a:nth-child(3){
    background-image: url("");
}

.animations > a:nth-child(4){
    background-image: url("");
}

/* FRAMEWORKS */
.frameworks > a:nth-child(1){
    background-image: url("");
}

@media all and (max-width: 400px) {
    /* UTILITIES */
    h2 {
        font-size: 1.4em;
    }

    h3 {
        font-size: 1.3em;
    }
}

@media all and (min-width: 400px) and (max-width: 768px) {
    /* UTILITIES */
    h2 {
        font-size: 1.6em;
    }

    h3 {
        font-size: 1.5em;
    }
}

@media all and (max-width: 850px) {
    .container-assignments {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .basics, .transitions, .animations, .frameworks {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}