/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h2 {
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    font-size: 1.8em;
    display: block;
    margin-block-start: 1.5em;
    margin-block-end: 0.2em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

section {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 70px;
    display: block;
}

div {
    display: block;
}

p {
    margin: 0 0 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10%;
}

.btn {
    padding: 12px 35px;
    margin-top: 40px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border-radius: 50px;
    color: white;
    background-color: #1463F3;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    transition: 0.3s ease-out;
}

.btn:hover {
    background-color: black;
}

.sub-title {
    font-size: 1.3em;
    color: #868E96;
}

.container-about, .container-icons, .container-education, .container-projects, .container-services, .container-contact {
    display: flex;
    margin-top: 50px;
}

/* NAVBAR STYLING */
.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    color: black;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .3);
    border-bottom: 0.0625rem solid #e0e0e0;
    z-index: 1;
}

.nav-links a {
    color: black;
}

/* LOGO */
.logo {
    font-size: 23px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu a:hover {
    color: #1463F3;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

/* HOME SECTION */
header {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center;
}

.home-socials {
    display: flex;
    margin-top: 20px;
}

.home-socials a {
    background-color: white;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    user-select: none;
    background-image: none;
}

.home-socials a:hover {
    background-color: #d1d8de;
    transition: 0.3s ease-out;
}

.home-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-intro span {
    margin-bottom: 15px;
}

.home-intro > span:first-child, .home-intro > span:nth-child(3) {
    font-size: 3rem;
}

.home-intro > span:nth-child(2), .home-intro > span:nth-child(3) > span {
    font-size: 4rem;
    font-weight: bold;
}

.home-intro > span:first-child, .home-intro > span:nth-child(2) {
    color: black;
}

.home-intro > span:nth-child(3), .home-intro > span:nth-child(3) > span {
    color: #1463F3;
}

/* ABOUT SECTION */
section.about .container-img-profile {
    max-width: 300px;
}

.container-img-profile {
    width: 250px;
    height: 250px;
    background-image: url("../img/profile-jithmi.png");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.container-text {
    width: 70%;
    padding-left: 5%;
}

.container-text > div > span:nth-child(1), .container-text > div > span:nth-child(2), .container-text > div > span:nth-child(3) {
    font-size: 1.3rem;
    font-weight: bold;
}

.container-text > div > span:nth-child(2) {
    color: #1463F3;
}

/* SKILLS SECTION */
.skills, .projects, .contact {
    background-color: #F4F5F7;
}

.container-icons {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-wrap: wrap;
}

.container-icons .box-icon {
    width: 140px;
    height: 170px;
}

.skills-tools-rows {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
}

.box-icon > .dev-icon {
    width: 80px;
    height: 80px;
    margin-top: 15px;
}

.skills-tools-rows > .box-icon:nth-child(7) > .dev-icon {
    padding: 3px;
}

.skills-tools-rows > .box-icon:nth-child(12) > .dev-icon {
    padding: 4px;
}

section.skills p:first-of-type {
    line-height: 1.55;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

/* EDUCATION SECTION */
.container-education {
    flex-direction: column;
}

.edu {
    display: flex;
    margin-bottom: 20px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-scl, .col-course {
    position: relative;
    min-height: 1px;
    padding: 0 10px 0 10px;
}

.col-scl {
    padding-right: 20px;
    width: 313px;
}

.col-course {
    padding-left: 20px;
    max-width: 500px;
}

#education .edu p > strong {
    display: block;
    margin-bottom: 10px;
}

#education .edu > .col-scl p, #education .edu p span {
    color: #434242;
    font-family: 'Open Sans', sans-serif;
}

/* PROJECTS SECTION */
.container-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: initial;
}

.project-slides img {
    width: 100%;
    border-radius: 13px;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

h3 {
    color: black;
    margin-bottom: 10px;
}

h3:hover {
    color: #1463f3;
    transition: 0.3s ease-out;
}

.tags {
    font-weight: bold;
}

.project-description {
    margin-bottom: 5px;
    color: #ffffff;
}

.view-more {
    width: 160px;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.project-slides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    font-size: 15px;
    padding: 10px 45px;
    position: absolute;
    bottom: 4px;
    width: 100%;
    text-align: center;
}

.dots {
    text-align:center;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* SERVICES SECTION */
.container-services {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container-services .service {
    width: 280px;
    background-color: white;
    border-radius: 14px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .3);
    margin: 0 25px 0 25px;
}

.service {
    padding-bottom: 10px;
}

.service:hover {
    background-image: linear-gradient(45deg, black, #1463F3);
    color: white;
    transition: 0.3s ease-out;
}

.service img {
    width: 60px;
    height: 60px;
    margin: 15px;
}

.service h5, .service p {
    margin: 0 15px 20px 15px;
}

.service h5 {
    font-size: 18px;
}

/* CONTACT SECTION */
.container-contact {
    flex-direction: column;
}

.container-contact > div:nth-child(3) {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.container-contact address, .container-contact form {
    display: flex;
    flex-direction: column;
}

.container-contact address {
    font-style: normal;
}

address div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

address div i {
    font-size: 1.5rem;
    width: 40px;
    color: #1463F3;
}

address div span, address div a {
    font-size: 16px;
    color: #4d4c4c;
}

.container-contact form button {
    border: none;
    width: 170px;
    margin-top: 0;
}

.container-contact form > input, .container-contact form > textarea {
    width: 100%;
    font-weight: 400;
    background-color: transparent;
    padding: 12px 28px;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 30px;
    margin-bottom: 20px;
    outline: none;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background-color: #1463F3;
}

footer > div:first-of-type {
    margin: 30px 30px 10px;
    display: flex;
    justify-content: space-between;
}

footer > div > div:first-of-type > h1, footer > div > div:first-of-type span {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 15px;
    color: white;
}

footer > div > div:first-of-type span {
    color: #d1d1d1;
    font-size: 20px;
}

footer > div:first-of-type div a {
    margin-left: 10px;
}

footer > div:first-of-type div a > i {
    font-size: 1.5rem;
    color: white;
}

footer > div:nth-child(2) {
    display: flex;
    margin-top: 70px;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
}

footer > div:nth-child(2) > small:nth-child(2) {
    margin-left: 4px;
    margin-right: 4px;
}

footer small {
    color: white;
}

/* RESPONSIVE NAVBAR MENU */
/* CHECKBOX HACK */
input[type=checkbox] {
    display: none;
}

/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 950px) {
    .menu {
        display: none;
        position: absolute;
        background-color: white;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        color: #1463F3;
        transition: 0.3s ease;
    }

    .menu li + li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked ~ .menu {
        display: block;
    }

    .hamburger {
        display: block;
    }
}

@media all and (max-width: 1023px) {
    /* NAVBAR STYLING */
    .nav-links a {
        font-size: 15px;
    }

    /* HOME SECTION */
    .logo {
        font-size: 20px;
    }

    .hamburger {
        font-size: 20px;
    }

    .home-container .home-socials a {
        margin: 8px;
        padding: 4px;
    }

    /* ABOUT SECTION */
    .container-img-profile {
        width: 230px;
        height: 230px;
    }

    .container-text > div > span:nth-child(1), .container-text > div > span:nth-child(2), .container-text > div > span:nth-child(3) {
        font-size: 1.1rem;
    }

    .container-about {
        flex-direction: column;
        align-items: center;
    }

    .container-text {
        width: 90%;
        margin-top: 30px;
        padding-left: 0;
    }

    /* SKILLS SECTION */
    .skills-tools-rows {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .box-icon > .dev-icon {
        width: 70px;
        height: 70px;
    }

    .container-icons .box-icon {
        width: 125px;
        height: 125px;
        margin-bottom: 10px;
    }

    section.skills p:first-of-type {
        margin-top: 8px;
    }

    /* EDUCATION SECTION */
    .edu {
        flex-direction: column;
        justify-content: center;
    }

    .col-scl {
        padding-right: 0;
    }

    .col-course {
        padding-left: 10px;
        margin-top: 10px;
        padding-bottom: 5px;
    }

    /* CONTACT SECTION */
    .container-contact > div:nth-child(3) {
        flex-direction: column;
        margin-top: 30px;
    }

    .container-contact > div:nth-child(3) address+div {
        margin-top: 30px;
    }

    /* FOOTER */
    footer > div:first-of-type {
        margin: 0;
        padding: 20px 20px 0 20px;
        flex-direction: column;
        align-items: center;
    }

    footer > div > div:first-of-type {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer > div > div:first-of-type > h1 {
        font-size: 23px;
        margin-bottom: 10px;
    }

    footer > div > div:first-of-type span {
        font-size: 18px;
    }

    footer > div > div:nth-child(2) {
        margin-top: 30px;
    }

    footer > div:nth-child(2) {
        flex-direction: column;
    }

    footer > div:nth-child(2) > small:nth-child(2) {
        display: none;
    }
}

@media all and (max-width: 400px) {
    /* UTILITIES */
    h2 {
        font-size: 1.4em;
    }

    .sub-title {
        font-size: 1.1em;
    }
}

@media all and (min-width: 400px) and (max-width: 768px) {
    /* UTILITIES */
    h2 {
        font-size: 1.6em;
    }

    .sub-title {
        font-size: 1.3em;
    }
}

@media all and (max-width: 375px) {
    /* HOME SECTION */
    .home-intro > span:first-child, .home-intro > span:nth-child(3) {
        font-size: 17px;
    }

    .home-intro > span:nth-child(2), .home-intro > span:nth-child(3) > span {
        font-size: 21px;
    }
}

@media all and (min-width: 375px) and (max-width: 425px) {
    /* HOME SECTION */
    .home-intro > span:first-child, .home-intro > span:nth-child(3) {
        font-size: 20px;
    }

    .home-intro > span:nth-child(2), .home-intro > span:nth-child(3) > span {
        font-size: 25px;
    }
}

@media all and (min-width: 425px) and (max-width: 485px) {
    /* HOME SECTION */
    .home-intro > span:first-child, .home-intro > span:nth-child(3) {
        font-size: 23px;
    }

    .home-intro > span:nth-child(2), .home-intro > span:nth-child(3) > span {
        font-size: 28px;
    }
}

@media all and (min-width: 485px) and (max-width: 540px) {
    /* HOME SECTION */
    .home-intro > span:first-child, .home-intro > span:nth-child(3) {
        font-size: 27px;
    }

    .home-intro > span:nth-child(2), .home-intro > span:nth-child(3) > span {
        font-size: 32px;
    }
}

@media all and (min-width: 540px) and (max-width: 620px) {
    /* HOME SECTION */
    .home-intro > span:first-child, .home-intro > span:nth-child(3) {
        font-size: 30px;
    }

    .home-intro > span:nth-child(2), .home-intro > span:nth-child(3) > span {
        font-size: 35px;
    }
}

@media all and (min-width: 620px) and (max-width: 768px) {
    /* HOME SECTION */
    .home-intro > span:first-child, .home-intro > span:nth-child(3) {
        font-size: 33px;
    }

    .home-intro > span:nth-child(2), .home-intro > span:nth-child(3) > span {
        font-size: 38px;
    }
}

@media all and (min-width: 768px) and (max-width: 1080px) {
    /* HOME SECTION */
    .home-intro > span:first-child, .home-intro > span:nth-child(3) {
        font-size: 39px;
    }

    .home-intro > span:nth-child(2), .home-intro > span:nth-child(3) > span {
        font-size: 44px;
    }
}

@media all and (min-width: 1080px) and (max-width: 1150px) {
    /* HOME SECTION */
    .home-intro > span:first-child, .home-intro > span:nth-child(3) {
        font-size: 45px;
    }

    .home-intro > span:nth-child(2), .home-intro > span:nth-child(3) > span {
        font-size: 50px;
    }
}

@media all and (min-width: 1150px) and (max-width: 1300px) {
    /* HOME SECTION */
    .home-intro > span:first-child, .home-intro > span:nth-child(3) {
        font-size: 50px;
    }

    .home-intro > span:nth-child(2), .home-intro > span:nth-child(3) > span {
        font-size: 55px;
    }
}

@media all and (max-width: 900px) {
    /* SERVICES SECTION */
    .services  .container-services > .service {
        margin: 0 20px 30px 20px;
        width: 250px;
    }
}

@media all and (min-width: 768px) and (max-width: 1300px) {
    .logo {
        font-size: 20px;
    }

    .menu {
        font-size: 16px;
    }

    .menu li {
        padding: 4px 10px;
    }
}