/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h2 {
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    font-size: 1.8em;
    display: block;
    margin-block-start: 1.5em;
    margin-block-end: 0.2em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

section {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 70px;
    display: block;
}

div {
    display: block;
}

p {
    margin: 0 0 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10%;
}

.btn {
    padding: 12px 35px;
    margin-top: 40px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border-radius: 50px;
    color: white;
    background-color: #1463F3;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    transition: 0.3s ease-out;
}

.btn:hover {
    background-color: black;
}

.sub-title {
    font-size: 1.3em;
    color: #868E96;
}

/* NAVBAR STYLING */
.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    color: black;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .3);
    border-bottom: 0.0625rem solid #e0e0e0;
    z-index: 1;
}

.nav-links a {
    color: black;
}

/* LOGO */
.logo {
    font-size: 25px;
    font-family: 'Segoe UI Semibold', serif;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu a:hover {
    color: #1463F3;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

/* HOME SECTION */
header {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center;
}

.home-socials {
    display: flex;
    margin-top: 20px;
}

.home-socials a {
    background-color: white;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    user-select: none;
    background-image: none;
}

.home-socials a:hover {
    background-color: #d1d8de;
    transition: 0.3s ease-out;
}

.home-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-intro span {
    margin-bottom: 15px;
}

.home-intro > span:first-child, .home-intro > span:nth-child(3) {
    font-size: 3rem;
    font-weight: lighter;
}

.home-intro > span:nth-child(2), .home-intro > span:nth-child(3) > span {
    font-size: 4rem;
    font-weight: 500;
}

.home-intro > span:first-child, .home-intro > span:nth-child(2) {
    color: black;
}

.home-intro > span:nth-child(3), .home-intro > span:nth-child(3) > span {
    color: #1463F3;
}

/* ABOUT SECTION */
section.about .container-img-profile {
    max-width: 300px;
}

.container-img-profile {
    width: 250px;
    height: 250px;
    background-image: url("../img/profile-jithmi.png");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.container-text {
    width: 70%;
    padding-left: 5%;
}

.container-text > div > span:nth-child(1), .container-text > div > span:nth-child(2), .container-text > div > span:nth-child(4) {
    font-size: 1.3rem;
    font-weight: bold;
}

.container-text > div > span:nth-child(2) {
    color: #1463F3;
}