/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
    background-color: #F4F5F7;
}

section {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 50px;
    display: block;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10%;
}

.container-assignments {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

h2 {
    font-family: Poppins, sans-serif;
    display: block;
    font-weight: bold;
    font-size: 1.8em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

/* ASSIGNMENTS */
.assignments .case {
    background-position: center;
    background-size: cover;
    border-radius: 14px;
    margin: 8px;
    width: 250px;
    height: 170px;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    transition: 0.3s ease-out;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .3);
    position: relative;
}

.case > i {
    font-size: 19px;
    color: #a2a2a2;
    position: absolute;
    margin: auto;
    top: 7px;
    right: 7px;
}

.case h4 {
    font-size: 19px;
    margin-bottom: 30px;
}

.assignments .case:hover {
    color: white;
    background-image: linear-gradient(45deg, #1463F3, black);
}

/* BASICS */
.container-assignments > a:nth-child(1){
    background-image: url("../img/cases-background-img/basics-case-1.png");
}

.container-assignments > a:nth-child(2){
    background-image: url("../img/cases-background-img/basics-case-2.png");
}

.container-assignments > a:nth-child(3){
    background-image: url("../img/cases-background-img/basics-case-3.png");
}

.container-assignments > a:nth-child(4){
    background-image: url("../img/cases-background-img/basics-case-4.png");
}

.container-assignments > a:nth-child(5){
    background-image: url("../img/cases-background-img/basics-case-5.png");
}

.container-assignments > a:nth-child(6){
    background-image: url("../img/cases-background-img/basics-case-6.png");
}

/* TRANSITIONS */
.container-assignments > a:nth-child(7){
    background-image: url("../img/cases-background-img/transitions-case-1.png");
}

.container-assignments > a:nth-child(8){
    background-image: url("../img/cases-background-img/transitions-case-2.png");
}

/* ANIMATIONS */
.container-assignments > a:nth-child(9){
    background-image: url("../img/cases-background-img/animations-case-1.png");
}

.container-assignments > a:nth-child(10){
    background-image: url("../img/cases-background-img/animations-case-2.png");
}

.container-assignments > a:nth-child(11){
    background-image: url("../img/cases-background-img/animations-case-3.png");
}

.container-assignments > a:nth-child(12){
    background-image: url("../img/cases-background-img/animations-case-4.png");
}

/* JAVASCRIPT */
.container-assignments > a:nth-child(13){
    background-image: url("../img/cases-background-img/calc.png");
}

.container-assignments > a:nth-child(14){
    background-image: url("../img/cases-background-img/POS-System.png");
}

.container-assignments > a:nth-child(15){
    background-image: url("../img/cases-background-img/javascript-queue-1.png");
}

.container-assignments > a:nth-child(16){
    background-image: url("../img/cases-background-img/javascript-queue-2.png");
}

.container-assignments > a:nth-child(17){
    background-image: url("../img/cases-background-img/javascript-knight-rider.png");
}

@media all and (max-width: 400px) {
    /* UTILITIES */
    h2 {
        font-size: 1.4em;
    }
}

@media all and (min-width: 400px) and (max-width: 768px) {
    /* UTILITIES */
    h2 {
        font-size: 1.6em;
    }
}

@media all and (max-width: 850px) {
    .container-assignments {
        justify-content: center;
    }
}